body {
    direction : rtl;
    font-family : Cairo;
    font-style : normal;
}

.bg-gradient-primary {
    /* background-color: #4e73df; */
    background-image: linear-gradient(180deg,#8d448b 10%,#8d448b 100%) !important;
    background-size: cover !important;
}
.btn-info {
    background-color: #6a5c69 !important;
    border-block-color: #6a5c69 !important;
    border: #6a5c69 !important;
}


.text-gray-400 {
    color: #8d448b !important;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.75rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #8d448b;
    text-align: right;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.container-fluid {
    text-align: right;
}
.btn-primary {
    color: #fff;
    background-color: #8d448b;
    border-color: #8d448b;
}
.btn-primary :hover {
    color: #fff;
    background-color: #8d448b;
    border-color: #8d448b;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    display: block;
    text-align: right;
    color: #3a3b45;
    text-decoration: none;
    border-radius: 0.35rem;
    white-space: nowrap;
}

.title-header h2 {
    color: #8d448b !important;
}

.title-header i {
    color: #8d448b !important;
}

.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child), .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    background-color: #8d448b;
}
}
.input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label::after, .input-group:not(.has-validation) > .custom-select:not(:last-child), .input-group:not(.has-validation) > .form-control:not(:last-child) {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-header, .sidebar .nav-item .collapsing .collapse-inner .collapse-header {
    margin: 0;
    text-align: right;
    white-space: nowrap;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: .65rem;
    color: #b7b9cc;
}
@media (min-width: 768px) {
    .sidebar .nav-item .nav-link {
        display: block;
        width: 100%;
        text-align: right;
        padding: 1rem;
        width: 14rem;
    }

  

    .sidebar.toggled .nav-item .collapse {
        position: absolute;
        left: calc(-18.5rem + 13.5rem / 2) !important;
        z-index: 3;
        top: 19px !important;
      */
    }


    .sidebar .sidebar-heading {
        text-align: right;
    }

    @media (min-width: 576px) {
        .topbar .dropdown .dropdown-menu {
            width: auto;
            right: -5.25rem !important;
        }
        .topbar .dropdown .dropdown-menu {
            width: auto;
            right: -5.25rem !important;
        }
    }
}